        body{
            background-color: #191919;
            margin: 0px;
        }
        .container{
            padding-bottom: 68px;
            padding-top: 40px;
        }
        .thumbnail{
            cursor: pointer;
            box-shadow: 0px 0px 11px 4px #000000;
            border-radius: 10px;
            padding: 10px;
            background-color: #343a40;
        } 
        .thumbnail:hover{
            cursor: pointer;
            box-shadow: 0px 0px 15px 8px #000000;
            border-radius: 10px;
            padding: 10px;
            background-color: #343a40;
        }
			
        img{
            border-radius: 10px;
            padding-bottom: 5px;
        }
        h3{
            color:#ADB6BE;
            padding-bottom: 3px;
        }
        h2{
            color: white;
            padding-bottom: 5px;
        }
        .buy{
            text-align: center;
            justify-content: center;
            height: 40px;
            padding: 5px;
        }
        .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
            padding-bottom: 30px; 
        } 
        nav{
            box-shadow: 0px 0px 11px 4px #000000;
            
        }
        .fixed-top{
            border-bottom-right-radius: 3em;
            border-bottom-left-radius: 3em;
        }
        .content{
            box-shadow: 0px 0px 11px 4px #000000;
            border-radius: 10px;
            color: azure;
            padding: 10px;
            font-family: 'Shadows Into Light', cursive;
            font-size: 30px;
        }
        .info{
            border-style: solid;
            border-color: whitesmoke;
            padding-top: .5rem;
            padding-bottom: .5rem;
            padding-left: 1rem;
            border-left-width: 2px;
            color: lightsteelblue;
        }  
        a{
            color: lightsteelblue;
        } 
        .dropdown,span.ml{
            margin-left: auto;
        }
        .top{
            padding: 100px 0px 90px 0px;
            background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
            background-size: cover;
            height: 800px;
            box-shadow: 0px 0px 11px 4px #000000;
            padding-bottom: 30px;
            color: rgb(250, 255, 255);
            text-align: center;
            opacity: 0.8;
            font-size: 80px;
            border-bottom-right-radius: 1em;
            border-bottom-left-radius: 1em;
        }
        .dropdown-item{
            color: whitesmoke ;
            background-color: grey;
        }
        .btn-secondary{
            border-radius: 4em;
        }
        .btn-success{
            border-radius: 3em;
        }
        header{
            font-family: 'Kaushan Script', cursive;
            
            text-shadow: 0px 4px 20px rgba(0,0,0,0.4),
						 0px 8px 13px rgba(0,0,0,0.1),
						 0px 18px 23px rgba(0,0,0,0.1);
        }
        .message {
            padding: 15px 40px;
            background-color: #5dca88;
            cursor: pointer;
            box-shadow: 0 7px #1a7940;
        }
        .message:active {
            position:relative;
            top: 7px;
            box-shadow: none;
        }
        .b {
            padding: 12px 24px;
            color: white;
            display: inline-block;
            opacity: 0.8;
            border-radius: 4px;
            font-size: 30px;
            box-shadow: 0 7px #1a7940;
        }
